
/*AFD-1 : Styles Menu*/

:root{  --cream: #111111; --cream-scroll:#1a1a1a; --accent:goldenrod; --text-dark:white; --text-muted: rgba(255, 255, 255, 0,45); --nav-height:68px; --sidbar-width:280px; --easing:cubic-bezier(0.4, 0, 0.2, 1);


/*AFD-2 : Styles Bannière*/


/*AFD-3 : Styles Plats*/


/*AFD-4 : Styles Services*/


/*AFD-5 : Styles Galerie*/



/*AFD-6 : Styles Réservation*/



/*AFD-7 : Styles Contact*/


/*Footer*/
